.list {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.button {
  --width: 75px;
  width: var(--width);
  height: calc(var(--width) / 2.5);
  cursor: pointer;
  background-color: #1f2434;
  color: #f5e8c0;
  border-radius: 5px;
}
